{% extends 'base.html' %} 
{% block content %}


<div class="detail__container">
    
    <div class="detail__about">
        <h4 class="title is-4"> {{ reservation.type }}: {{ reservation.name }} on {{ reservation.start_date}}</h4>
        <div class="buttons">
            <a href="{% url 'trip_detail' reservation.trip.pk %}" class="button is-rounded is-primary is-inverted">
                <span class="icon">
                  <i class="fas fa-arrow-left"></i>
                </span>
              </a>
            <a href="{% url 'reservation_update' reservation.pk %}" class="button is-rounded is-info is-inverted">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="" class="button is-rounded is-danger is-inverted">
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
        </div>
        
        
        <p>{{ reservation.description }}</p>
        <br>
        <p>Location: {{ reservation.location }}</p>
        <br>
        <p>File: <a href="{{ reservation.file }}">{{ reservation.file }}</a></p>
    </div>

    


</div>

{% endblock %}