{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{trip.image}}" alt="{{trip.location}}" />
</div>
<div class="detail__name">
    
    <h1 class="title">{{trip.location}}</h1>
    <h3 class="subtitle"> {{trip.start_date}} - {{trip.end_date}}</h3>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'trip_update' trip.pk %}" class="button is-rounded is-info is-inverted">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'trip_delete' trip.pk %}" class="button is-rounded is-danger is-inverted">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
        <!-- <a href="{% url 'reservation_create' trip.pk %}" class="button is-rounded is-success is-inverted">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
        </a> -->
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About My Trip</h4>
        <p>{{trip.description}}</p>
    </div>

    <div class="detail__reservations mb-5">
        <h3 class="title is-3">Reservations</h3> 

        <label for="show-form-checkbox" class="button is-rounded is-success is-inverted">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
          </label>
          <input type="checkbox" id="show-form-checkbox">
          <form id="reservation-form" method="post" action="{% url 'reservation_create' pk=trip.pk %}">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="name"
                        placeholder="Name"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="description"
                        placeholder="Description"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="date"
                        name="start_date"
                        placeholder="Start Date"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="date"
                        name="end_date"
                        placeholder="End Date"
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="location"
                        placeholder="Location"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="url"
                        name="file"
                        placeholder="File"
                    />
                </div>
                
                    <div class="control">
                        <select class="select" name="type" required>
                            <option value="Dining">Dining</option>
                            <option value="Hotel">Hotel</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Day Trip">Day Trip</option>
                            <option value="Museum">Museum</option>
                            <option value="Site Seeing">Site Seeing</option>
                            <option value="Tour">Tour</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Reservation" />
                </div>
            </div>

               </form>
    

    
        {% for reservation in trip.reservations.all %}
        <div class="reservation">
          <span>{{forloop.counter}}</span>
          <span><b><a href="{% url 'reservation_detail' reservation.pk %}">{{ reservation.name }}</a></b></span>
          <span>{{reservation.start_date}}</span>
          <span>{{reservation.type}}</span>
        </div>
            {% empty %}
        <article class="message">
          <div class="message-header">
            <p>No Reservations Available</p>
          </div>
        </article>
    
        {% endfor %}
      </div>

</div>

{% endblock %}