{% extends 'base.html' %}

{% comment %} {% endcomment %}
{% block title %}Trips and Events{% endblock  %}

{% block content %}

<h1 class="title pt-5">My Trips</h1>

    <a href="{% url 'trip_create' %}" class="button is-rounded is-success is-inverted is-centered>
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
    </a>
    <br>
<div class="gallery">
  {% for trip in trips %}
  <a href="{% url 'trip_detail' trip.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-5by4">
          <img src="{{trip.image}}" alt="{{trip.location}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{trip.location}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Trips Planned</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}